In [26]:
#import Dependencie
import pandas as pd
import numpy as np

In [27]:
# Load CSV

measurements = "hawaii_measurements.csv"
stations = "hawaii_stations.csv"

In [28]:
# Read CSVs into dataframes (stations)
stations_pd = pd.read_csv(stations)
stations_df=pd.DataFrame(stations_pd)
stations_df.head(5)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [29]:
# Read CSVs into dataframes (measurements)
measurements_pd = pd.read_csv(measurements)
measurements_df=pd.DataFrame(measurements_pd)
measurements_df.head(5)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [30]:
#Inspect the data for NaNs and missing values.
measurements_df.count()
#Looks like there is missing prcp values and not missing tobs values
#If rows with NaN values are dropped, tobs values will go missing, so I will replace NaNs for prcp with 0
#As to preserve temperature values

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [31]:
#Inspect the data for NaNs and missing values.
stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [32]:
#Stations was not missing information so it is fine as is, save with 'clean_' prefix
clean_stations_df=pd.DataFrame(stations_pd)
clean_stations_df.to_csv("clean_hawaii_stations.csv", index = False)

In [33]:
#Replace NaNs in measurement_df with 0's and save with 'clean_' prefix

clean_measurements_df=pd.DataFrame(measurements_pd)
clean_measurements_df = clean_measurements_df.fillna(0)
#ensure NaN values have been replaced with '0'
clean_measurements_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [34]:
#ensure NaN values have been replaced with '0'
clean_measurements_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [35]:
# Save new measurements ti csv with 'clean_' prefix
clean_measurements_df.to_csv("clean_hawaii_measurements.csv", index = False)